@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.amogus-gif{
    display: block;
    width: 30em;
    height: 20em;
    border: 5px solid yellow;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
}

.sus-title{
    font-size: 2rem;
    font-family: 'Poppins';
    text-align: center;

}